@model ducstore.Models.news

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_adminlayout.cshtml";
}


<div class="form-edit">
    <div>
        
        <dl class="dl-horizontal">
                    <dt>
                @Html.DisplayNameFor(model => model.newstittle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.newstittle)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.author)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.picture)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.content)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.daycreate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.daycreate)
            </dd>

            </dl>
    </div>
    <p style="margin-left: 3rem">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.newsid }, new { @class = "btn btn-primary" }) 
        @Html.ActionLink("Quay lại", "Index", "", new { @class = "btn btn-default" })
        </p>
</div>
