@model ducstore.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_adminlayout.cshtml";
}


<div class="form-edit">
    <div>
        
        <dl class="dl-horizontal">
                    <dt>
                @Html.DisplayNameFor(model => model.provider.providername)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.provider.providername)
            </dd>

                            <dt>
                @Html.DisplayNameFor(model => model.typeproduct.typeproductname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.typeproduct.typeproductname)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.productname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.productname)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.promotion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.promotion)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.picture)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

                    <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            </dl>
    </div>
    <p style="margin-left: 3rem">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.productid }, new { @class = "btn btn-primary" }) 
        @Html.ActionLink("Quay lại", "Index", "", new { @class = "btn btn-default" })
        </p>
</div>
