@model IPagedList<ducstore.Models.receiptbill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_adminlayout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;


<div class="main-content">
    <div class="page-tool">
            @Html.ActionLink(" Thêm mới", "Create", new { }, new { @class = "btn add-btn fas fa-plus" })
    </div>

    <table  class="table">
        <thead class="thead-dark table-bordered">
                <tr>
                                            <th>
                        @Html.DisplayNameFor(model => model.First().employee.employeename)
                    </th>
                                            <th>
                        @Html.DisplayNameFor(model => model.First().provider.providername)
                    </th>
                                                        <th>
                        @Html.DisplayNameFor(model => model.First().daycreate)
                    </th>
                                            <th>
                        @Html.DisplayNameFor(model => model.First().totalpaid)
                    </th>
                                <th>Chức năng</th>
                </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                                <td>
                    @Html.DisplayFor(modelItem => item.employee.employeename)
                </td>
                                <td>
                    @Html.DisplayFor(modelItem => item.provider.providername)
                </td>
                                        <td>
                    @Html.DisplayFor(modelItem => item.daycreate)
                </td>
                                <td>
                    @string.Format("{0:###,###,###,000}", item.totalpaid)
                </td>
                        <td>
                    @Html.ActionLink(" ", "Edit", new { id=item.receiptid } , new { @Class = "text-primary  btn btn-default  far fa-edit table-button" }) 
                    @Html.ActionLink(" ", "Details", new { id=item.receiptid } , new { @Class = "gray btn btn-default fas fa-info-info table-button" }) 
                    @Html.ActionLink(" ", "Delete", new { id=item.receiptid }, new { @Class = "text-danger btn btn-default far fa-trash-alt table-button" })
                </td>
                    </tr>
        }
    </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", "receiptbills", new { page }),
                                                                                   new PagedListRenderOptions
                                                                                        {
                                                                                      ContainerDivClasses = new string[] { "page-item" }
                                                                                   })
</div>    
