@model IPagedList<ducstore.Models.typeproduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_adminlayout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;


<div class="main-content col-lg-12">
    <div class="page-tool">
            @Html.ActionLink(" Thêm mới", "Create", new { }, new { @class = "btn add-btn fas fa-plus" })
    </div>

    <table  class="table">
        <thead class="thead-dark table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().typeproductid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().typeproductname)
                </th>
                <th>Chức năng</th>
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typeproductid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typeproductname)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.typeproductid }, new { @Class = " btn btn btn-default text-primary far fa-edit table-button" })
                @Html.ActionLink(" ", "Details", new { id = item.typeproductid }, new { @Class = "gray btn btn-default fas fa-info table-button" })
                @Html.ActionLink(" ", "Delete", new { id = item.typeproductid }, new { @Class = "text-danger btn btn-default far fa-trash-alt table-button" })
            </td>
        </tr>
        }
    </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", "typeproducts", new { page}),
                                                                                   new PagedListRenderOptions
                                                                                        {
                                                                                      ContainerDivClasses = new string[] { "page-item" }
                                                                                   })
</div>    
